@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Paletas */

    --preto-100: #232323;
    --preto-50: #273140;

    --verde-50: #588157;
    --verde-100: #344E41;
    --vermelho-50: #E63946;
    --vermelho-100: #cc3441;
    --marrom: #BFB29F;
    --amarelo: #FFBE0B;

    --branco-50: #f1faee;
    --branco-50: rgb(241, 250, 238);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ________________________________________________ */

body {
    display: flex;
    background-image: linear-gradient(to bottom, var(--preto-100), var(--preto-50));
    overflow: hidden;
    height: 100vh;
    justify-content: center;
}

.sideBar {
    background-color: var(--preto-50);
    height: 100vh;
    width: 25em;
    padding: 3em 1em 12em 1em;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-around;

    z-index: 1;

    display: none;
}
.sideBar > header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    border-bottom: 2px solid var(--branco-50);
    padding-bottom: 1em;

}

.sidebarButtons {
    background-color: transparent;
    border: transparent;
    outline: transparent;
    color: var(--branco-50);
    
}

.sidebarButtons > button {
    background: transparent;
    border: transparent;
    outline: transparent;
    color: var(--branco-50);
    
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4em;
    cursor: pointer;


}


.sidebarButtons > button:hover {
    background: linear-gradient(to right, var(--vermelho-100), var(--vermelho-50), transparent);
}


#sidebarUser {
    font-size: 6em;
}

#sidebarHomeBtn {
    background-color: transparent;
    border: transparent;
    color: var(--branco-50);
    font-size: 2em;
    cursor: pointer;
}
/* ___________________________________________________________ */

::-webkit-scrollbar {
    background-color: transparent;
    width: .5em;
}

::-webkit-scrollbar-thumb {
    background-color: var(--vermelho-50);
}
::-webkit-scrollbar-track {
    background-color: transparent;

}

main {
    margin-right: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 7em;

    /* z-index: 1; */
}

#menuBtn {
    font-size: 2em;
    color: var(--branco-50);
}

#logoArea {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 50%; */
    padding: 1em 0;
}
#logo {
    width: 15em;
}

.displayContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: var(--preto-50);
    height: 100%;
    color: var(--branco-50);
    padding: 1em;
}

#contentUser {
    font-size: 10em;
}

#boxBoasVindas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50%;

}

#boas-vindas {
    background-color: var(--preto-100);
    padding: 0 1em ;
    margin-bottom: .5em;
}

#contentVideos {
    display: flex;
    /* justify-content: flex-start; */
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    flex-wrap: wrap;
    padding: 1em 0;
    gap: .5em 1em;
    /* column-gap: ; */

    overflow-y: scroll;
}
.tumbVideos {
    background-color: var(--preto-100);
    width: 12em;
    height: 6em;
    margin-bottom: .5em;
}