@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Paletas */

    --preto-100: #232323;
    --preto-50: #273140;

    --verde-50: #588157;
    --verde-100: #344E41;
    --vermelho: #E63946;
    --marrom: #BFB29F;
    --amarelo: #FFBE0B;

    --branco-50: #f1faee;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    color: var(--branco-50);
    user-select: none;
    overflow: hidden;
    -webkit-app-region: no-drag;
    background-image: linear-gradient(to bottom, var(--preto-100), var(--preto-50));

}

button {
    cursor: pointer;
}

main {
    display: flex;
    height: 100%;
}

:focus {
    outline: none;
}

aside {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudos {
    background-image: linear-gradient(to top, var(--verde-100), var(--verde-50));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
}


#box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 80%;
    /* row-gap: 1.5em; */
    /* gap: 5em; */
    row-gap: 2.5em;
}

#box > h1 {
    font-size: 4em;
    /* width: 50%; */
    display: flex;
    text-align: center;
    justify-content: center;
} 

#box > ul {
    font-size: 1.8em;
}

hr {
    width: 100%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}
ul {
    list-style: none;
}


.lista {
    font-size: 1.5em;
}

.itens > li::before {
    content: '>> ';
    color: var(--vermelho);
    margin-left: 1em;
    
}


/* Costumizando área do LOGIN */

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    row-gap: 3%;
    background-image: linear-gradient(to bottom, var(--preto-100), var(--preto-50));
    width: 60%;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: .5em;
    padding: 0 .8em;
}

#logo {
    width: 100%;
    display: flex;
    align-self: center;
    justify-self: center;
    transform: scale(.8);
}

fieldset {
    border: 1px solid var(--branco-50);
    /* padding: 2%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1em;
    width: 29em;
    height: 60%;
}

fieldset > p {
    margin: 0 auto;
    width: 15em;
    text-align: center;
    font-size: calc(1em + 3%);
}

#loginText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: var(--vermelho);
    width: 50%;
    position: relative;
}


input {
    background-color: transparent;
    border: 1px solid var(--branco-50);
    padding: .5em;
    color: var(--branco-50);
}

#login-button {
    background-color: var(--vermelho);
    border: 2px solid var(--vermelho);
    font-weight: bold;
    color: var(--branco-50);
    /* padding: .5em 38%; */
    padding: .5em 30%;
    display: flex;
    /* margin: auto; */
    cursor: pointer;
    

    transition: background .8s;
}

#login-button:hover {
    background-color: transparent;
}

#logBack {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#logBack::before {
    position: absolute;
    content: '';
    margin-top: .7em;
    background-color: var(--vermelho);
    height: 50px;
    width: 350px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logBack::after {
    content: 'Login';
    position: relative;
    height: 100%;
    width: 100%;
    width: fit-content;
    height: fit-content;
    color: var(--branco-50);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    font-weight: bolder;
    line-height: 1em;
}

#social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    gap: 1.5em;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: 2em;
}

#socIcons > i {
    font-size: 2em;
    margin: 0 .3em;
    cursor: pointer;
}


#github {
    transition: color .6s;
}
#github:hover {
    color: var(--vermelho);
}

#linkedin {
    transition: color .6s;
}
#linkedin:hover {
    color: #0077b6;
}

#error-message {
    display: none;
    margin-left: 56%;
    /* color: var(--vermelho); */
}